
h2 {
    color: red;
    margin-bottom: 30px;
}

.container {
    width: 80%;
}

.container-item-left {
    width: 100px;
    margin-left: 115px; 
    padding-left: 12px;
    margin-right: 10px;
    
}

.container-item-right {
    width: 100px;
    margin-right: 115px; 
    padding-right: 12px;
    margin-left: 10px;
}

.category-container{
    margin-top: 25px;
    margin-bottom: 25px;
}

.custom-learn-button {
    color: #0d6efd;
    border-radius: .25rem;
    border-width: 1px;
    border-color: #0d6efd;
}
.custom-learn-button:hover {
    background-color:  #0d6efd;
    color: white;
    border-radius: .25rem;
    border-width: 1px;
    border-color: #0d6efd;
}


.custom-heart-button {
    border-color: rgb(244, 195, 72);
    border-radius: .25rem;
    border-width: 1px;
    transition: box-shadow 0.3
}
.custom-heart-button:hover {
}
.custom-heart-button:active {
    box-shadow: 2px 2px 20px rgb(244, 195, 72);
}

.custom-heart-button-image {
    color: rgb(244, 195, 72);
}


.inline-scroll {
    overflow-x: scoll;
    overflow-y: hidden;
    white-space: nowrap;
}